* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./img/world.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fff;
}


.heading {
  text-align: center;
}


.last-update {
  color: #fff;
}


.container {
  margin-top: 10px;
  width: 100%;
  padding: 1em;
}


.flex {
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  margin: 0.5em;
  min-width: 200px;
  padding: 0.8em 1em;
  border-radius: 8px;
  font-size: 0.5em;
  border: 1px solid lightgray;
}

.box.confirmed {
  background: #00FCF9;
}

.box.recovered {
  background: #E5FC00
}

.box.infection-info {
  margin: 25px 50px;
  background: black;
  color: red;
}


.virus-heading {
  margin-top: 10px;
}

.box.deaths {
  background: red;
  color: #fff;
}

.infection-info img {
  border-radius: 50%;
  width: 135px;
  height: 145px;
  filter: color;
  -webkit-filter: grayscale(0);
  -webkit-transition: all .8s ease-in-out;
}

.infection-info img:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transform: scale(1.01);
}

.virus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.88);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.88);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and(min-width: 750px) {
  .flex {
    flex-wrap: nowrap;
  }

  .box {
    max-width: 300px;
    line-height: 1.5;
  }

}