* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./img/world.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fff;
}


.heading {
  text-align: center;
}


.container {
  margin-top: 10px;
  width: 100%;
  padding: 1em;
}


.flex {
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  margin: 0.5em;
  min-width: 200px;
  padding: 0.8em 1em;
  border-radius: 8px;
  font-size: 0.5em;
  border: 1px solid lightgray;
}

.box.confirmed {
  background: #00FCF9;
}

.box.recovered {
  background: #E5FC00
}

.box.patient-zero {
  margin: 25px 50px;
  background: black;
  color: #fff;
}

.patient-heading {
  margin-top: 25px;
}

.box.deaths {
  background: red;
  color: #fff;
}

.patient-zero img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

@media screen and(min-width: 750px) {
  .flex {
    flex-wrap: nowrap;
  }

  .box {
    max-width: 300px;
    line-height: 1.5;
  }

}