* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 1em;
}

h1 {
  color: red;
}

.flex {
  display: flex;
  justify-content: space-evenly;

}

.box {
  
}

.box.confirmed {
  padding: 0.5em 0.5em;
  border: 1px solid lightgray;
  background: #00FCF9;
}

.box.recovered {
  padding: 0.5em 0.5em;
  border: 1px solid lightgray;
  background: #E5FC00
}

.box.deaths {
  padding: 0.5em 0.5em;
  border: 1px solid lightgray;
  background: red;
}